.faq-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 1379px;
    height: 1020px;
    top: 566px;
    left: 81px;
    padding: 80px;
    border-radius: 12px;
    background: #ffffff;
}

.faq-text {
    width: 432px;
    height: 237px;
}

.faq-text div {
    width: 408px;
    height: 148px;
}

.faq-text div h1 {
    width: 408px;
    height: 92px;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    color: #262626;
}

.faq-text div p {
    width: 408px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #333333;
}

.faq-text a {
    position: relative;
    width: 130px;
    height: 49px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #F1F1F3;
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    top: 53px;
}

.faq-items-container {
    width: 681px;
    height: 860px;
}

.ans-div {
    width: 681px;
    height: 352px;
    padding: 40px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #F1F1F3;
}

.qus {
    width: 599px;
    height: 64px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #F1F1F3;
    display: flex;
    justify-content: space-between;
}

.qus h1 {
    width: 477px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #262626;
}

.qus i {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 6px;
    background: #FFF4E5;
    text-align: center;
    font-size: 22px;
}

.ans p {
    width: 599px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #4c4c4d;
    margin-top: 40px;
}

.sug {
    margin-top: 40px;
    width: 599px;
    height: 80px;
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    background: #F7F7F8;
    border: 1px solid #F1F1F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sug h1 {
    width: 455px;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333;
}

.sug i {
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 100px;
    background: #FFFFFF;
    text-align: center;
    font-size: 25px;
}

.faq-item {
    width: 681px;
    height: 92px;
    margin-top: 30px;
    padding: 24px 40px 24px 40px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #F1F1F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item h1 {
    width: 467px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #262626;
}

.faq-item i {
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 6px;
    background: #fff4e5;
    text-align: center;
    font-size: 22px;
}