* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Be Vietnam Pro;
}

body {
    background: #f1f1f3;
}

header {
    width: 96%;
    height: 122px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 8px;
}

.top-banner {
    width: 100%;
    height: 41px;
    padding: 10px 0px 10px 0px;
    gap: 23px;
    border-radius: 6px;
    background: #ff9500;
}

.top-banner h1 {
    height: 21px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.navbar {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
}

.links {
    display: flex;
    width: 467px;
}

.login {
    width: 178px;
    height: 45px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.signup-btn {
    width: 53px;
    height: 21px;
    margin-right: 30px;
    opacity: 0px;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    transition: all 0.5s ease;
}

.login-btn {
    width: 86px;
    height: 45px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 6px;
    color: #262626;
    opacity: 0px;
    background: #ff9500;
}

.navbar-list {
    display: flex;
    line-height: 42px;
}

.navbar-links:link,
.navbar-links:visited {
    font-size: 16px;
    padding: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #262626;
    transition: all 0.5s ease;
}

.navbar-links:hover,
.navbar-links:active {
    color: #ff9500;
}

.signup-btn:hover,
.signup-btn:active {
    color: #ff9500;
}


.header nav ul li {
    list-style: none;
}

.mobile-navbar-btn {
    font-size: 20px;
    display: none;
    font-size: 28px;
    line-height: 40px;
}

.fa-solid[name="close"] {
    display: none;
}

.toogle {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

@media screen and (max-width:786px) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar-list {
        width: 100%;
        height: 100vh;
        background: #f1f1f3;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        clip-path: inset(0 0 100% 0);
        /* Hidden state */
        transition: clip-path 0.5s ease, opacity 0.5s ease;
        /* Ensure both clip-path and opacity animate */
        opacity: 0;
        pointer-events: none;
    }

    .active .navbar-list {
        display: flex;
        clip-path: inset(0 0 0 0);
        /* Visible state */
        opacity: 1;
        pointer-events: auto;
    }

    .closing .navbar {
        clip-path: inset(0 100% 0 0);
        /* Closing animation */
        opacity: 0;
        pointer-events: none;
    }

    .active .mobile-navbar-btn .fa-solid[name="close"] {
        display: block;
    }

    .active .mobile-navbar-btn .fa-solid[name="open"] {
        display: none;
    }
}