@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./header.css);
@import url(./footer.css);
@import url(./price.css);
@import url(./faq.css);

.pricing {
    position: relative;
    width: 98%;
    height: 208px;
    top: 102px;
    left: 20px;
    padding: 0px 60px 40px 60px;
    border-bottom: 1px solid #E4E4E7;
}

.pricing div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing h1 {
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    text-align: left;
    color: #262626;
}

.pricing p {
    width: 600px;
    height: 168px;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #59595a;
}

.pricing-text {
    justify-content: center;
}

.links{
    position: relative;
    /* bottom: 58px; */
}

.pricing-container {
    top: 115px;
}

footer{
    top: 310px;
}

.faq-container {
    top: 226px;
}