@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Be Vietnam Pro;
}

body {
    background: #f1f1f3;
}

header {
    width: 1490px;
    height: 122px;
    margin-top: 20px;
    margin-left: 20px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
}

.top-banner {
    width: 1490px;
    height: 41px;
    padding: 10px 0px 10px 0px;
    gap: 23px;
    border-radius: 6px;
    opacity: 0px;
    background: #ff9500;
}

.top-banner h1 {
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    width: 1490px;
    height: 81px;
    padding: 16px 60px 20px 60px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #f1f1f3;
}

.container {
    display: flex;
    width: 592px;
    height: 45px;
    margin-right: 50px;
    opacity: 0px;
}

.logo {
    width: 44px;
    height: 44px;
    margin-right: 50px;
    border-radius: 8px 0px 0px 0px;
}

.link-container {
    width: 498px;
    height: 45px;
    opacity: 0px;
    line-height: 42px;
}

.link-container a {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-right: 26px;
    color: #262626;
    transition: all 1s ease;
}

.link-container a:hover,
a:active {
    width: 80px;
    height: 45px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
    background: #f1f1f3;
}

.login {
    width: 178px;
    height: 45px;
    line-height: 21px;
}

.signup-btn {
    width: 53px;
    height: 21px;
    margin-right: 30px;
    opacity: 0px;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.login-btn {
    width: 86px;
    height: 45px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 6px 0px 0px 0px;
    color: #262626;
    opacity: 0px;
    background: #ff9500;
}


































































footer {
    /* overflow: hidden; */
    position: relative;
    width: 99.9%;
    height: 355px;
    top: 286px;
    left: 1px;
    padding: 60px 80px 20px 80px;
    background: #FFFFFF;
}

.footer {
    width: 1378px;
    height: 174px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 304px;
    height: 174px;
}

.footer-left li {
    margin-top: 20px;
}

.footer-left li a {
    color: #262626;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 737px;
    height: 157px;
}

.footer-links {
    width: 229.67px;
    height: 157px;
}

.footer-links ul li {
    margin-top: 5px;
    margin-left: 3px;
}

.footer-links ul li:first-child a {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #262626;
}

.footer-links ul li a {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
}

.footer-about-links {
    width: 229.67px;
    height: 157px;
}

.footer-about-links ul li {
    margin-top: 5px;
    margin-left: 3px;
}

.footer-about-links ul li:first-child a {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #262626;
}

.footer-about-links ul li a {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
}

.social-links {
    margin-right: 3px;
}

.social-links h1 {
    font-family: Be Vietnam Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}

.social-links a {
    position: relative;
    top: 11px;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 6px;
    background: #F7F7F8;
    border: 1px solid #F1F1F3;
    color: #262626;
}

hr {
    position: relative;
    top: 40px;
    bottom: 20px;
}

.copyright {
    position: relative;
    top: 70px;
    height: 29px;
}

.copyright p {
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    color: #656565;
}